*{
    padding:0;
    /* margin: 0; */
    box-sizing: border-box;
}
body{
    font-family: poppins,Helvetica,sans-serif;;
}
.container-full{
    max-width: 100%;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.container-small{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col_lg_1 {width: 8.33%;}
.col_lg_2 {width: 16.66%;}
.col_lg_3 {width: 25%;}
.col_lg_4 {width: 33.33%;}
.col_lg_5 {width: 41.66%;}
.col_lg_6 {width: 50%;}
.col_lg_7 {width: 58.33%;}
.col_lg_8 {width: 66.66%;}
.col_lg_9 {width: 75%;}
.col_lg_10 {width: 83.33%;}
.col_lg_11 {width: 91.66%;}
.col_lg_12 {width: 100%;}

.col{
    float: left;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
}
.about_me{
    padding-top: 30px;
}
.title{
    font-size: 40px;
    color:#ff0000;
    text-align: center;
}
.flex{
    display: flex;
}
header .col_lg_4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-symbol {
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color: #007ced;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-right: 8px;
    margin-top: 4px;
}
.logo-text {
    line-height: 50px;
    font-size: 20px;
    color: #222;
    font-weight: 600;
}
.logo-text span{
    font-weight: 400;
}
.show{
    display: none;
}
.col_lg_5 img{
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px;
}
.col_lg_7{
    margin-top: 40px;
}
.col_lg_7 h1{
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px
}
.school{
    padding-top: 25px;
}
.school h5.item-period {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 0px;
    color: #666;
    background-color: #fff;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #007ced;
    border-radius: 30px;
}
.school .item-company {
    display: inline-block;
    font-size: 12px;
    color: #666;
    opacity: .7;
    margin-left: 5px;
}
.school .item-title {
    font-size: 16px;
    margin: 10px 0 7px;
}
p {
    font-family: poppins,Helvetica,sans-serif;
    font-size: 14px;
    color: #666;
    margin: 0 0 10px;
    line-height: 1.75em;
}
.p_right{
    padding-right: 30px;
}
.p_left{
    padding-left: 30px;
}
/* contact */
.contact .back,.portfolio .back{
    background-color:#fdfdfd;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.contact img{
    padding-top: 16px;
}
.contact h4{
    font-size: 20px;
    padding-left: 20px;
}

.page-title {
    display: block;
    padding: 40px 0;
}
.page-title h2 {
    font-size: 44px;
    font-weight: 600;
    margin: 0
}
.p-top{
    padding-top: 40px;
}
/* portfolio */
.portfolio img{
    width: 100%;
    height: 293px;
    border-radius: 22px;
}
.portfolio .zoom{
    transition: transform .2s;
    border-radius: 5px;
    padding-top: 30px;
}
.portfolio .zoom:hover{
    transition: transform .2s;
    -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.portfolio .item-title{
    display: inline-block;
    background-color:#007ced;
    padding: 10px 20px;
    border-radius: 10px;
}
.portfolio .item-title:hover{
    background-color:#00008b;
}
.portfolio a{
    color: #fff;
}


/* footer */
footer .back{
    background-color:#fdfdfd;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
footer a{
    color: #333;
    line-height: 21px;
    font-size: 13px;
    opacity: .6;
}
footer li{
    margin-right:25px ;
}

@media only screen and (max-width: 991px) {
    .col_md_1 {width: 8.33%;}
    .col_md_2 {width: 16.66%;}
    .col_md_3 {width: 25%;}
    .col_md_4 {width: 33.33%;}
    .col_md_5 {width: 41.66%;}
    .col_md_6 {width: 50%;}
    .col_md_7 {width: 58.33%;}
    .col_md_8 {width: 66.66%;}
    .col_md_9 {width: 75%;}
    .col_md_10 {width: 83.33%;}
    .col_md_11 {width: 91.66%;}
    .col_md_12 { width: 100%;}

    .educ_exper,.col_lg_7{
        padding-left: 25px;
    }
    .contact h2,.portfolio h2{
        padding-left: 20px;
    }
    .contact .p-top,.portfolio .p-top{
        flex-direction: column;
        padding-left: 20px;
    }
    
    /* header .col_lg_8{
        display: none;
    } */
    
}

@media only screen and (max-width: 767px) {
    .col_xs_1 {width: 8.33%;}
    .col_xs_2 {width: 16.66%;}
    .col_xs_3 {width: 25%;}
    .col_xs_4 {width: 33.33%;}
    .col_xs_5 {width: 41.66%;}
    .col_xs_6 {width: 50%;}
    .col_xs_7 {width: 58.33%;}
    .col_xs_8 {width: 66.66%;}
    .col_xs_9 {width: 75%;}
    .col_xs_10 {width: 83.33%;}
    .col_xs_11 {width: 91.66%;}
    .col_xs_12 {width: 100%;}
    
    
    
}